// App.scss
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
  font-family: 'Cinzel Decorative', cursive;
}


$light-mode-bg: #1c1c1c;
$light-mode-text: #333;

$dark-mode-bg: #2c2c2c;
$dark-mode-text: #fff;

.App {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;

  &.light-mode {
    background-color: $light-mode-bg;
    color: $light-mode-text;
  }

  &.dark-mode {
    background-color: $dark-mode-bg;
    color: $dark-mode-text;
  }
}

//background-color: #1c1c1c;